{% extends 'base-figma.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<link href="static/assets/css/style-figma.css" rel="stylesheet">

<body style="background: linear-gradient(3.47deg, #00649B 13.28%, #66A9CD 93.28%);
position: static;
width: 1240px;
height: 577px;">
<div class="login-box">
    <div class="login-inside">

<!--        {% if messages %}-->
<!--            {% for message in messages %}-->
<!--                <div class="alert alert-warning alert-dismissible fade show" style="height: 15px; width: 320px; font-size:10px; padding-top:5px;" role="alert">-->
<!--                    <p1>{{ message }}.</p1>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--                </div>-->
<!--            {% endfor %}-->
<!--        {% endif %}-->
        <p class="dpia-title">DATA PROTECTION IMPACT ASSESSMENT</p>
        <form method="POST">
            <fieldset class="form-group">
                <div style="width: 80px; margin-left: -280px; margin-top: -25px;">
                    <label style="width: 80px; margin-left: 28px; font-size:14px;">Username </label>
                    <input type="text" placeholder="Username" class="login-text-box-1" name="username" required>
                </div>
                <div style="width: 80px; margin-left: -280px; margin-top: 25px;">
                    <label style="width: 80px; margin-left: 28px; font-size:14px;">Password </label>
                    <input type="password" placeholder="Password" class="login-text-box-2" name="password" required>
                    <a href="{% url 'login' %}"><button type="submit" class="login1-button1">Login</button></a>
                </div>
                <div style="width: 220px; height: 120px; margin-left: -250px; margin-top: 30px;">
<!--                    <button type="submit" class="login-submit">Login</button>-->
                    <a href="{% url 'forget_password' %}"><div style="font-size:10px; font-weight: 500px; font-family: 'Ubuntu';">FORGOT PASSWORD ?</div></a>
                </div>
            </fieldset>
            <div class="login-right">
                <img class="login-png" src="static/assets/img/login.png"/>
            </div>
        </form>
    </div>
</div >
<img class="bar-png" src="static/assets/img/bar.png"/>
{% endblock %}
</body>

</html>
