{% extends 'base-figma.html' %}
{% load static %}
{% block content %}

<link href="static/assets/css/style-figma.css" rel="stylesheet">
<div style="background: linear-gradient(3.47deg, #00649B 13.28%, #66A9CD 93.28%);
position: static;
width: auto;
height: 650px">
<div style ="position:absolute; left: 30%;top:20%; width: 500px;">
    <br>
    <h1 class="scr-h1-1">You have been logged out.</h1>
    <a href="{% url 'login' %}"><button type="button" class="logout-assessment" style="font-family:Verdana"> Login again</button></a>
    </div>
</div>

{% endblock %}