{% extends 'base-figma.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<link href="static/assets/css/style-figma.css" rel="stylesheet">
<body class="body-class">
<div class="logout-box">
        <p class="status-text" style="margin-left: 50px">Log out !</p>
        <div class="status-msg">
        </div>
        <a href="{% url 'login' %}"><button class="logout-button1">Login again</button></a>
        <div>
            <img class="status-png" src="static/assets/img/logout.png"/>
        </div>
</div >
<img class="bar-png-logout" src="static/assets/img/bar.png"/>
{% endblock %}
</body>

</html>
