{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!DOCTYPE html>
<html lang="en">

<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="height: 80px">

</div>
  <main id="main">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
          </ol>
          <div class="carousel-inner">
              <form method="POST" action="dpia_screening">
                  <fieldset class="form-group">
                        <div class="carousel-item active">
                            <div class="container p-3 text-white; rounded" style="background-color:rgba(245, 245, 248, 0.7);">
                                <h3><center><strong>DPIA Assessment - </strong>Part 1</center></h3>
                                <br>
                                <div class="form-group">
                                      <div class="row mb-3" style="margin-left: 30px">
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the purpose of the processing defined in your organization?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f1_1" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the aim of the project defined in your organization?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f1_2" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is method of processing defined in your organization?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f1_3" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent are the expected benefit(s) from the processing defined ?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f1_4" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the list of departments who will benefit from this processing defined in your organization?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f1_5" id="autoSizingSelect">
                                                    <option ></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the list of members / teams who will be involved in the processing defined in your organization ?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f1_6" id="autoSizingSelect">
                                                    <option ></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>
                                          <div style="margin-bottom:25px">

                                          </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container p-3 text-white; rounded" style="background-color:rgba(245, 245, 248, 0.7);">
                                <h3><center><strong>DPIA Assessment - </strong>Part 2</center></h3>
                                <br>
                                <div class="form-group">
                                      <div class="row mb-3" style="margin-left: 30px">
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the process of collecting, using, storing and deleting data defined in your organization ?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f2_1" id="autoSizingSelect">
                                                    <option ></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent are the data source(s) used to initiate processing defined in your organization ?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f2_2" id="autoSizingSelect">
                                                    <option ></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Do you have a list of people who will have access to this data?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f2_3" id="autoSizingSelect">
                                                    <option ></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the types of High-risk processing defined for this data processing?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f2_4" id="autoSizingSelect">
                                                    <option selected value="0"></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Do you comply by legal requirements to collect the data (Do you have consent of the data subjects) ?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f2_5" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>
                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >How many data subjects are likely to be affected by the project?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f2_6" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Less Than 100</option>
                                                    <option value="2">100-1000</option>
                                                    <option value="3">1000-10000</option>
                                                    <option value="4">10000-100000</option>
                                                    <option value="5">Above 100000</option>
                                                </select>
                                          </div>
                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Where is data stored?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f2_7" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Shared Drive File </option>
                                                    <option value="2">National Database </option>
                                                    <option value="3">Paper Files </option>
                                                    <option value="4">Cloud Storage </option>
                                                    <option value="5">Data Center</option>
                                                </select>
                                          </div>
                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Do you have appropriate measures to destroy data after use?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f2_8" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>
                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the Data retention policy defined in your organization?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f2_9" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="2">Optimized</option>
                                                    <option value="2">Managed</option>
                                                </select>
                                          </div>
                                          <div style="margin-bottom:25px">

                                          </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                          <div class="container p-3 text-white; rounded" style="background-color:rgba(245, 245, 248, 0.7);">
                                <h3><center><strong>DPIA Assessment - </strong>Part 3</center></h3>
                                <br>
                                <div class="form-group">
                                      <div class="row mb-3" style="margin-left: 30px">
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the process of deciding the people to consult on the proposed processing defined  in your organization?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f3_1" id="autoSizingSelect">
                                                    <option ></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>
                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the process to select the consultants defined in your organization?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f3_2" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is your process defined for mapping roles of the selected consultant(s)?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f3_3" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Do you have a list of members who will also involved from the organization in the consultation process ? </strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f3_4" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Have you assigned a person who will keep track of the progress of these consultants?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f3_5" id="autoSizingSelect">
                                                    <option ></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>
                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the process to discuss the issues raised by the consultants defined in your organization?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f3_6" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>
                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Do you have a proper forum where these consultants can provide assurances and rasie their concerns?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f3_7" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>
                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Have you assigned a person who will be responsible for keeping a check that all the issues raised by these consultants have been resolved?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f3_8" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>
                                          <div style="margin-bottom:25px">

                                          </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                          <div class="container p-3 text-white; rounded" style="background-color:rgba(245, 245, 248, 0.7);">
                                <h3><center><strong>DPIA Assessment - </strong>Part 4</center></h3>
                                <br>
                                <div class="form-group">
                                      <div class="row mb-3" style="margin-left: 30px">
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent have to defined the legal basis for processing?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f4_1" id="autoSizingSelect">
                                                    <option ></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent it the proposed processing supposed to achieve the desired goals?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f4_2" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent are the alternate approaches defined to  achieve the same results?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f4_3" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the metrics for achieving data quality and data integrity defined in your organization?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f4_4" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the information that will be given to the data subjects defined in your organization?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f4_5" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is compliance by the designated processing entities ensured for the proposed processing ?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f4_6" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the plan prepared to prevent function creep?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f4_7" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent are the measures defined to ensure processors comply during data processing?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f4_8" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent are the measures defined to safeguard any international transfers?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f4_9" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <div style="margin-bottom:25px">

                                          </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                          <div class="container p-3 text-white; rounded" style="background-color:rgba(245, 245, 248, 0.7);">
                                <h3><center><strong>DPIA Assessment - </strong>Part 5</center></h3>
                                <br>
                                <div class="form-group">
                                      <div class="row mb-3" style="margin-left: 30px">
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Have you assigned a person/team who will be responsible for Identifying all the risks?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f5_1" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the plan to quantify the impact of the risks defined in your organization?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f5_2" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>
                                          <div style="margin-top:25px">

                                          </div>
                                      </div>
                                    <br><br><br>
                                    <br><br><br>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                          <div class="container p-3 text-white; rounded" style="background-color:rgba(245, 245, 248, 0.7);">
                                <h3><center><strong>DPIA Assessment - </strong>Part 6</center></h3>
                                <br>
                                <div class="form-group">
                                      <div class="row mb-3" style="margin-left: 30px">
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Have you assigned a person/ team who will be responsible for describing the risk mitigation measures?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f6_1" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Have you assigned a person/ team who will be responsible who will be responsible for defining the impact of risk?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f6_2" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is the plan to reduce or eliminate risk defined in your organization?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f6_3" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Have you assigned a person who will be responsible for planning and leading the risk mitigation action plan?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f6_4" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Have you assigned a person who will be responsible for auditing the plan?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f6_5" id="autoSizingSelect">
                                                    <option ></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>
                                          <div style="margin-bottom:25px">

                                          </div>
                                      </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                          <div class="container p-3 text-white; rounded" style="background-color:rgba(245, 245, 248, 0.7);">
                                <h3><center><strong>DPIA Assessment - </strong>Part 7</center></h3>
                                <br>
                                <div class="form-group">
                                      <div class="row mb-3" style="margin-left: 30px">
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Have you assigned a person who will be responsible for approving the risk measures?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f7_1" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Have you assigned a person who will be responsible for approving and examining the residual risks?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f7_2" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Comments by Data privacy officer (DPO):</strong></label>
                                          <div class="col-sm-3">
                                              <input type="text" class="form-control" name="f7_3" placeholder="NA" disabled>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Comments provided by Consultation team:</strong></label>
                                          <div class="col-sm-3">
                                              <input type="text" class="form-control" name="f7_4" placeholder="NA" disabled>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Who has provided Sign-off and recorded DPIA outcomes?</strong></label>
                                          <div class="col-sm-3">
                                              <input type="text" class="form-control" name="f7_5" placeholder="NA" disabled>
                                          </div>
                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Signature of Person providing the sign-off:</strong></label>
                                          <div class="col-sm-3">
                                              <input type="text" class="form-control" name="f7_6" placeholder="NA" disabled>
                                          </div>
                                          <div style="margin-bottom:25px">

                                          </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                          <div class="container p-3 text-white; rounded" style="background-color:rgba(245, 245, 248, 0.7);">
                                <h3><center><strong>DPIA Assessment - </strong>Part 8</center></h3>
                                <br>
                                <div class="form-group">
                                      <div class="row mb-3" style="margin-left: 30px">
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Have you assigned a person who will be responsible for collecting and analysing the DPIA outcomes?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f8_1" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >Have you assigned a person who will be responsible for planning intergration of DPIA outcomes into the project plan?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f8_2" id="autoSizingSelect">
                                                    <option ></option>
                                                    <option value="0">Yes</option>
                                                    <option value="1">No</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent is your policy for assigning time period to Implement the DPIA outcomes defined in your organization?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f8_3" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>

                                          <br><br>
                                          <label class="control-label col-sm-8" ><strong style="color:Black;" >To what extent are the KPI's which will depict the success of Integration defined in your organization?</strong></label>
                                          <div class="col-sm-3">
                                                <select class="form-select" name="f8_4" id="autoSizingSelect">
                                                    <option></option>
                                                    <option value="1">Initial</option>
                                                    <option value="2">Defined</option>
                                                    <option value="3">Optimized</option>
                                                    <option value="4">Managed</option>
                                                </select>
                                          </div>
                                          <div style="margin-bottom:25px">
                                              <button style="margin-left:820px;" type="submit" class="btn btn-primary rounded-pill">Submit</button>
                                          </div>
                                      </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                  </fieldset>
              </form>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>
  </main>
<!-- End #main -->
{% endblock %}
</body>

</html>