{% extends 'base-figma.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<link href="static/assets/css/style-figma.css" rel="stylesheet">
<body style="background: linear-gradient(3.47deg, #00649B 13.28%, #66A9CD 93.28%);
position: static;
width: 1240px;
height: 577px;">
<div class="status-box">
        <p class="status-text" style="margin-left: 50px">No Problem !</p>
        <div class="status-msg">
            <p>We have sent a link to your email address. Kindly check your mailbox and retrieve your password from the same.</p>
        </div>
        <a href="{% url 'login' %}"><button class="login-button1">Login again</button></a>
        <div>
            <img class="status-png" src="static/assets/img/logout.png"/>
        </div>
</div >
{% endblock %}
</body>

</html>
