{% extends 'base-figma.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="alt-nav">
    <div style="position: absolute;
    left: 14.39%;
    right: 38.75%;
    top: 8.22%;
    bottom: 88.89%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    /* or 200% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #12ABDB;">
        TITLE
    </div>
    <div style="position: absolute;
    height: 26px;
    left: 11.39%;
    right: 38.75%;
    top: 40%;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Typography/On Surface/High Emphasis */

    color: rgba(39, 41, 54, 0.85);">
        <a href="#"><img src="static/assets/img/Icon.png"/></a>
        GDPR Report
    </div>
</div>
<body style="background: linear-gradient(3.47deg, #00649B 13.28%, #66A9CD 93.28%);
position: static;
width: 1440px;
height: 1850px;">
    <div class="rect-4 font">
    </div>
  {% endblock %}
</body>

</html>
