{% extends 'base-figma.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<script type ="text/javascript">
function toggleText2(){
                var myText=document.getElementById("info2");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }

function toggleText3(){
                var myText=document.getElementById("info3");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }

function toggleText4(){
                var myText=document.getElementById("info4");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }

function toggleText5(){
                var myText=document.getElementById("info5");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }

function toggleText6(){
                var myText=document.getElementById("info6");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }

function toggleText7(){
                var myText=document.getElementById("info7");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }

function toggleText8(){
                var myText=document.getElementById("info8");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }

function rejectClick(){
    var value = 0
    window.location.href = "{% url 'status' %}" + "?search="+value;
    console.log('Rejected')
}

function approveClick(){
    var value = 1
    window.location.href = "{% url 'status' %}" + "?search="+value;
    console.log('Approved')
}

</script>
<div class="alt-nav" style="width:1263px;">
    <div style="position: absolute;
    height: 26px;
    left: 11.39%;
    right: 38.75%;
    top: 30%;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* or 117% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Typography/On Surface/High Emphasis */

    color: rgba(39, 41, 54, 0.85);">
        <a href="#" onclick="history.back()"><img src="static/assets/img/Icon.png"/></a>
        <a href="#"><button onclick="rejectClick()" class="gdpr-button1">Reject</button></a>
        <a href="#"><button onclick="approveClick()" class="gdpr-button2">Approve</button></a>
        GDPR Report
    </div>
</div>

<body style="background: linear-gradient(3.47deg, #00649B 13.28%, #66A9CD 93.28%);
position: static;
width: 1090px;
height: 1675px; margin-left: 150px;
padding-top: 100px;"
>
<!--    <div class="gdpr_top_label1">-->
<!--        <p class="gdpr_font_title_1">Need help ? hit the <img src="static/assets/img/icon-right-inside.png">     icon to Refer to the parameters</p>-->
<!--    </div>-->
<!--    <div class="gdpr_top_label2">-->
<!--        <p class="gdpr_font_title_1">Kindly add comments if there is any extra information to be provided</p>-->
<!--    </div>-->

    <div class="user-info2" style="margin-top: -80px;">
      <div style="width: 20%; height: 100px; float: left;">
          <p class="gdpr_font1">Total Risks:&nbsp;<b>{{ total_no_of_risk }}</b></p>
      </div>
    </div>

    <div class="gdpr_report_box" style="min-height:1250px; overflow-y: scroll; width: 880px;">
        <div style="position:absolute; left:5%; padding-right: 5%;">
            <div class="form-group">
                <div class="col" style="padding-top:25px">
                    <div class="gdpr-steps-div" style="font-size: 16px;">
                           <p style="font-size:14px; font-family: 'Ubuntu'">1. Explain broadly what project aims to achieve and what type of processing it involves. You may find it helpful to refer or link to other documents, such as a project proposal. Summarise why you identified the need for a DPIA.</p>
                    </div>
                    <div style="padding-top:50px">
                        <div class="gdpr_text_box_1" style="border: groove;">
                            Scope of Service: <br>
<!--                            Question 1-->
                            {% if final_dict.f1_1 == '1' %}
                            <label class="paragraph-text">Our organization does not define the purpose of processing data.</label>
                            {% elif final_dict.f1_1 == '2'   %}
                            <label class="paragraph-text">For this scope of service , the project lead defines the purpose of processing the data.</label>
                            {% elif final_dict.f1_1 == '3'   %}
                            <label class="paragraph-text">For this scope of service , the project lead collects information from the stakeholders before defining the purpose of processing the data.</label>
                            {% else %}
                            <label class="paragraph-text">For this scope of service , the project lead collects information from the stakeholders and probes them on possible requirements before defining the purpose of processing the data.</label>
                            {% endif %}

                            <!--Question 2-->
                            {% if final_dict.f1_2 == '1' %}
                            <label class="paragraph-text"> We do not define the aim of the project.</label>
                            {% elif final_dict.f1_2 == '2'   %}
                            <label class="paragraph-text">The project lead defines the aim of the project by using purpose of processing as a reference.</label>
                            {% elif final_dict.f1_2 == '3'   %}
                            <label class="paragraph-text">The project team analyzes the purpose of processing and then collectively decide the aim of the project.</label>
                            {% else %}
                            <label class="paragraph-text">The project team analyzes the purpose of processing and then collectively decide the aim of the project which is further approved by the project lead and other stakeholders.</label>
                            {% endif %}

                            <!--Question 3-->
                            {% if final_dict.f1_3 == '1' %}
                            <i class="paragraph-text">At present , method of processing the data is not defined for this scope of service.</i>
                            {% elif final_dict.f1_3 == '2'   %}
                            <i class="paragraph-text">At present , basic research is done before finalizing the method of processing data.</i>
                            {% elif final_dict.f1_3 == '3'   %}
                            <i class="paragraph-text">At present , the project team researches for possible methods and then the final method is decided after discussion with the project lead.</i>
                            {% else %}
                            <i class="paragraph-text">At present ,an extensive research is done by the project team  for possible methods and then the final method is decided after discussion with the project lead and related stakeholders..</i>
                            {% endif %}

                            <!--Question 4-->
                            {% if final_dict.f1_4 == '1' %}
                            <i class="paragraph-text">Expected benefits from processing data is also not defined for this project.</i>
                            {% elif final_dict.f1_4 == '2'   %}
                            <i class="paragraph-text">Expected benefits from processing data are assumed by the project team on the basis of the aim of the project and not documented in the report.</i>
                            {% elif final_dict.f1_4 == '3'   %}
                            <i class="paragraph-text">Expected benefits from processing data is well defined by the project lead and also documented in the report.</i>
                            {% else %}
                            <i class="paragraph-text">Expected benefits from processing data is well defined by the project lead and is reviewed by the senior management.</i>
                            {% endif %}

                            <!--Question 5-->
                            {% if final_dict.f1_5 == '1' %}
                            <i class="paragraph-text">We do not prepare a list of departments who will be affected by this data processing.</i>
                            {% elif final_dict.f1_5 == '2'   %}
                            <i class="paragraph-text">The project lead prepares the list of  benefits for each department and documents it.</i>
                            {% elif final_dict.f1_5 == '3'   %}
                            <i class="paragraph-text">The project lead sends a meassage to all the concerned departments about the benefits and documents the list of departments in the report.</i>
                            {% else %}
                            <i class="paragraph-text">The project lead reaches out to all the concerned departments and present them the benefits they will receive from this data processing and documents both the benefits and recommendations/suggestions from each department.</i>
                            {% endif %}

                            <!--Question 6-->
                            {% if final_dict.f1_6 == '1' %}
                            <i class="paragraph-text">There is no such process to capture the list of team members involved in this data processing.</i>
                            {% elif final_dict.f1_6 == '2'   %}
                            <i class="paragraph-text">The list of team members who will be involved in the data processing are decided by the project lead and not documented at any stage.</i>
                            {% elif final_dict.f1_6 == '3'   %}
                            <i class="paragraph-text">The list of team members who will be involved in this data processing is documented during the commencement of the project</i>
                            {% else %}
                            <i class="paragraph-text">The list of team members who will be involved in this data processing is well prepared before the start of the project and are given a unique project code to monitor any changes in the team.</i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br>

<!--            Step 1 Box-->
            <div style="position:absolute; left:95%; padding-right: 5%;">
                <button type="button" onclick="toggleText2()" style="display: none;" id="info-btn1"></button>
                <a href="javascript:;"><img src="static/assets/img/icon-right-inside.png" onclick="document.getElementById('info-btn1').click()" alt="Info"></a>
                <!-- <a href="#"><img src="static/assets/img/icon-right-outside.png"></a> -->
            </div>

              <div class="form-group" id="Asset3">
                  <div class="col">
                        <div class="gdpr-steps-div" style="font-size: 16px;">
                           <p style="font-size:14px; font-family: 'Ubuntu'">2. Describe the nature and scope of the processing, and the context and scope of the processing</p>
                        </div>
                      <div class="font info" style= "display:none; padding-top: 10px;" id="info2">
                            <div style="padding-top:50px">
                                <input class="gdpr_text_box_1" placeholder="Add Comments" type="text"  name="gdpr_text_box_1">
                            </div>
                            <div style="padding-top:15px">
                                <input class="gdpr_text_box_2" placeholder="Add Comments" type="text"  name="gdpr_text_box_1">
                            </div>
                      </div>
                  </div>
              </div>
            <br>
                <div style="position:absolute; left:95%; padding-right: 5%; margin-top:30px;">
                    <button type="button" onclick="toggleText3()" style="display: none;" id="info-btn3"></button>
                    <a href="javascript:;"><img src="static/assets/img/icon-right-inside.png" onclick="document.getElementById('info-btn3').click()" alt="Info"></a>
                    <!-- <a href="#"><img src="static/assets/img/icon-right-outside.png"></a> -->
                </div>
            <hr>
              <div class="form-group" id="Asset7" >
                  <div class="col">
                      <div class="gdpr-steps-div" style="font-size: 16px;">
                           <p style="font-size:14px; font-family: 'Ubuntu'">3. Consider how to consult with relevant stakeholders</p>
                        </div>
                      <div class="font info" style= "display:none; padding-top: 5px;" id="info3">
                            <div style="padding-top:30px">
                                <input class="gdpr_text_box_1" placeholder="Add Comments" type="text"  name="gdpr_text_box_1">
                            </div>
                            <div style="padding-top:15px">
                                <input class="gdpr_text_box_2" placeholder="Add Comments" type="text"  name="gdpr_text_box_1">
                            </div>
                      </div>
                  </div>
              </div>
            <br>
            <hr>

<!--                 Step 4 Box-->
            <div style="position:absolute; left:95%; padding-right: 5%; margin-top:10px;">
                <button type="button" onclick="toggleText4()" style="display: none;" id="info-btn4"></button>
                <a href="javascript:;"><img src="static/assets/img/icon-right-inside.png" onclick="document.getElementById('info-btn4').click()" alt="Info"></a>
                <!-- <a href="#"><img src="static/assets/img/icon-right-outside.png"></a> -->
            </div>

              <div class="form-group" id="Asset4">
                  <div class="col">
                        <div class="gdpr-steps-div" style="font-size: 16px;">
                           <p style="font-size:14px; font-family: 'Ubuntu'">4. Describe compliance and proportionality measures, in particular</p>
                        </div>
                      <div class="font info" style= "display:none; padding-top: 10px;" id="info4">
                            <div style="padding-top:50px">
                                <input class="gdpr_text_box_1" placeholder="Add Comments" type="text"  name="gdpr_text_box_1">
                            </div>
                            <div style="padding-top:15px">
                                <input class="gdpr_text_box_2" placeholder="Add Comments" type="text"  name="gdpr_text_box_1">
                            </div>
                      </div>
                  </div>
              </div>
            <hr style="margin-top:50px">
<!--        End of Box 4-->

            <div style="position:absolute; left:95%; padding-right: 5%;">
                <button type="button" onclick="toggleText5()" style="display: none;" id="info-btn5"></button>
                <a href="javascript:;"><img src="static/assets/img/icon-right-inside.png" onclick="document.getElementById('info-btn5').click()" alt="Info"></a>
                <!-- <a href="#"><img src="static/assets/img/icon-right-outside.png"></a> -->
              </div>

              <div class="form-group" id="Asset9">
                  <div class="col">
                      <div class="gdpr-steps-div" style="font-size: 16px;">
                           <p style="font-size:14px; font-family: 'Ubuntu'">5. Describe source of risk and nature of potential impact on individuals</p>
                      </div>
                      <div class="font info" style= "display:none; padding-top: 10px;" id="info5">
                            <div style="padding-top:50px">
                                <div class="gdpr_text_box_no_border">
                                    <table class="table table-bordered" style="border-color: black;">
                                      <thead>
                                        <tr>
                                          <th scope="col">Describe source of risk and nature of potential impact on individuals. Include associated compliance and corporate risks as necessary.</th>
                                          <th scope="col">Likelihood of harm <br>(Remote, possible or probable)</th>
                                          <th scope="col">Severity of harm <br>(Minimal, significant or severe)</th>
                                          <th scope="col">Overall risk <br>(Low, medium or high)</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <th scope="row">1</th>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <th scope="row">2</th>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <th scope="row">3</th>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                      <tr>
                                          <th scope="row">4</th>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                      <tr>
                                          <th scope="row">5</th>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                      </div>
                  </div>
              </div>

            <hr style="margin-top:50px">
            <!--        End of Box 5-->

            <div style="position:absolute; left:95%; padding-right: 5%;">
                <button type="button" onclick="toggleText6()" style="display: none;" id="info-btn6"></button>
                <a href="javascript:;"><img src="static/assets/img/icon-right-inside.png" onclick="document.getElementById('info-btn6').click()" alt="Info"></a>
                <!-- <a href="#"><img src="static/assets/img/icon-right-outside.png"></a> -->
              </div>

              <div class="form-group" id="Asset10">
                  <div class="col">
                      <div class="gdpr-steps-div" style="font-size: 16px;">
                           <p style="font-size:14px; font-family: 'Ubuntu'">6. Describe source of risk and nature of potential impact on individuals</p>
                      </div>
                      <div class="font info" style= "display:none; padding-top: 10px;" id="info6">
                            <div style="padding-top:50px">
                                <div class="gdpr_text_box_no_border">
                                    <table class="table table-bordered" style="border-color: black;">
                                      <thead>
                                        <tr>
                                          <th scope="col">Risk</th>
                                          <th scope="col">Options to reduce or eliminate risk</th>
                                          <th scope="col">Effect on risk <br>(Eliminated, reduced or accepted)</th>
                                          <th scope="col">Residual risk <br>(Low, medium or high)</th>
                                            <th scope="col">Measure approved <br>(Yes/no)</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <th scope="row">1</th>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                          <th scope="row">2</th>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                          <th scope="row">3</th>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                            <td></td>
                                        </tr>
                                      <tr>
                                          <th scope="row">4</th>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                      <tr>
                                          <th scope="row">5</th>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                      </div>
                  </div>
              </div>

            <hr style="margin-top:50px">
            <!--        End of Box 6-->

            <div style="position:absolute; left:95%; padding-right: 5%;">
                <button type="button" onclick="toggleText7()" style="display: none;" id="info-btn7"></button>
                  <a href="javascript:;"><img src="static/assets/img/icon-right-inside.png" onclick="document.getElementById('info-btn7').click()" alt="Info"></a>
                <!-- <a href="#"><img src="static/assets/img/icon-right-outside.png"></a> -->
              </div>

              <div class="form-group" id="Asset11">
                  <div class="col">
                      <div class="gdpr-steps-div" style="font-size: 16px;">
                           <p style="font-size:14px; font-family: 'Ubuntu'">7. Identify and obtain necessary approvals</p>
                      </div>
                      <div class="font info" style= "display:none; padding-top: 10px;" id="info7">
                            <div style="padding-top:50px">
                                <input class="gdpr_text_box_1" placeholder="Add Comments" type="text"  name="gdpr_text_box_1">
                            </div>
                            <div style="padding-top:15px">
                                <input class="gdpr_text_box_2" placeholder="Add Comments" type="text"  name="gdpr_text_box_1">
                            </div>
                      </div>
                  </div>
              </div>
            <hr style="margin-top:50px">
            <!--        End of Box 7-->

            <div style="position:absolute; left:95%; padding-right: 5%;">
                <button type="button" onclick="toggleText8()" style="display: none;" id="info-btn8"></button>
                  <a href="javascript:;"><img src="static/assets/img/icon-right-inside.png" onclick="document.getElementById('info-btn8').click()" alt="Info"></a>
                <!-- <a href="#"><img src="static/assets/img/icon-right-outside.png"></a> -->
              </div>

              <div class="form-group" id="Asset12">
                  <div class="col">
                       <div class="gdpr-steps-div" style="font-size: 16px;">
                           <p style="font-size:14px; font-family: 'Ubuntu'">8. Identify and record outcomes</p>
                      </div>
                      <div class="font info" style= "display:none; padding-top: 10px;" id="info8">
                            <div style="padding-top:50px">
                                <input class="gdpr_text_box_1" placeholder="Add Comments" type="text"  name="gdpr_text_box_1">
                            </div>
                            <div style="padding-top:15px">
                                <input class="gdpr_text_box_2" placeholder="Add Comments" type="text"  name="gdpr_text_box_1">
                            </div>
                      </div>
                  </div>
              </div>
            <center style="padding:20px">
                <!-- <button type="submit" class="btn btn-success" style="width:100px">Result</button> -->
            </center>
              </div>
          </form>
      </div>
<img class="bar-png-gdpr" src="static/assets/img/bar.png"/>
{% endblock %}
</body>

</html>