{% extends 'base-figma.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="alt-nav">
    <div style="position: absolute;
    left: 14.39%;
    right: 38.75%;
    top: 8.22%;
    bottom: 88.89%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    /* or 200% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #12ABDB;">
        TITLE
    </div>
    <div style="position: absolute;
    height: 26px;
    left: 11.39%;
    right: 38.75%;
    top: 40%;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */
    
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    /* Typography/On Surface/High Emphasis */
    
    color: rgba(39, 41, 54, 0.85);">
        <a href="#"><img src="static/assets/img/Icon.png"/></a>
        DPIA Overview
    </div>
</div>
<body style="background: linear-gradient(3.47deg, #00649B 13.28%, #66A9CD 93.28%);
position: static;
width: 1440px;
height: 850px;">
  <link href="static/assets/css/style-figma.css" rel="stylesheet">
  <main id="main">
      <script type="text/javascript">
            function toggleInput() {
                    var data_protection_officer = document.getElementById("data_protection_officer");
                    var div1 = document.getElementById("div1");
                    div1.style.display = data_protection_officer.value == "0" ? "block" : "none";
                    var div2 = document.getElementById("div2");
                    div2.style.display = data_protection_officer.value == "0" ? "block" : "none";
            }
      </script>
  
      <div class="rect-4 font">
          
          <form method="POST" action="screening">
                <div class="input-1 col" style="left: 5%; top: 15%;">
                    <label class="label-top" style="width: 160px;">Name of the Organization</label>
                    <input type="text" class="input-master" name="name_of_organization" id="Name of the Organization"  placeholder="eg.ABC Private Limited" required>
                  </div>
                <div class="input-1 col" style="left: 35%; top: 15%;">
                    <label class="label-top">Industry</label>
                    <input type="text" class="input-master" id="Industry" placeholder="Banking" name="industry">        
                </div>
                <div class="input-1 col" style="left: 5%;top: 30%;">
                    
                        <label class="label-top" style="width: 160px;">Scope of Service / Project</label>
                        <textarea rows="2" style="width: 185%; height: 100%;" class="input-master" id="Scope of Service / Project" name="scope_of_service_project" placeholder="We aim to do KYC of new customers for our new Health Insurance Scheme"></textarea> 
                </div>
              
                <div class="input-1 col" style="left: 5%;top: 45%;">
                    <label class="label-top" style="width: 400px;">Does Your Organization have 'Data Protection Officer' ?</label>
                    <select type="text" class="input-master-box" onchange="toggleInput();" id="data_protection_officer" name="data_protection_officer" ><i data-tags="arrow right-angle" data-categories="arrows">Please mention if your organization has a Data Protection Officer.</i>
                        <option value=""></option>
                        <option value="0">Yes</option>
                        <option value="1">No</option>
                    </select>
                </div>
              <div class="input-1 col" id="div1" style="left: 35%;top: 45%;">
                    <label class="label-top" style="width: 300px;">Name of Data Protection Officer (DPO)</label>
                    <input type="text" class="input-master" id="Name of Data Protection Officer (DPO)" name="name_of_DPO" placeholder="eg. John Smith">
              </div>
               <div class="input-1 col" id="div2" style="left: 5%;top: 60%;">
                    <label class="label-top" style="width: 300px;">Title of Data Protection Officer (DPO)</label>
                    <input type="text" class="input-master" name="title_of_DPO" id="Title of Data Protection Officer (DPO)" placeholder="eg. IT Head">
              </div>
            <div style="position: absolute;
            left: 5%;
            right: 0.2%;
            top: 80%;
            bottom: 6.14%;
            ">
                <a style="color: black;" class="label-top">‘*’ fields are mandatory in this DPIA screening sheet</a>
            </div>
            <div style="position: absolute;
            left: 65%;
            right: 0.2%;
            top: 7.4%;
            bottom: 6.14%;
            ">
                <img src="static/assets/img/Search-cuate 1.png" style="width: 70%; height: auto;">
            </div>
            <div>
                <button type="submit" class="button-master" style="left: 65%; top: 80%; color: white;">Proceed To Screening</button>
            </div>
          </form>
      </div>
  </main>
        <!-- End #main -->
{% endblock %}

</body>

</html>