{% extends 'base-figma.html' %}
{% block content %}
{% load static %}

<link href="static/assets/css/style-figma.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Session Screen</title>
</head>
<div class="alt-nav">
    <div style="position: absolute;
    left: 14.39%;
    right: 38.75%;
    top: 13.22%;
    bottom: 88.89%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    /* or 200% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #12ABDB;">
        TITLE
    </div>
    <div style="position: absolute;
    height: 26px;
    left: 11.39%;
    right: 38.75%;
    top: 40%;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* or 117% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Typography/On Surface/High Emphasis */

    color: rgba(39, 41, 54, 0.85);">
        <a href="{% url 'index' %}"><button class="button-assessment">Start a DPIA Assessment</button></a>
        <a href="#"><img src="static/assets/img/Icon.png"/></a>
        DPIA Assessments
    </div>
</div>
<script type="text/javascript">

    window.onload = function(){
        console.log('inside ready function')
    };

    var num_range = {{db_instance|safe}}
    console.log('Num Range:'+num_range)

    var session_db = {{ session_dict|safe }}
    var session_db_num = Object.keys(session_db)
    console.log(session_db);

    for (var i = 1; i <= num_range; i++) {
      const button = document.createElement("button");
      button.innerText = session_db[`session_dict_${i}`].title + "\n" +
      "Date : "+ session_db[`session_dict_${i}`].date + "\n" +
      "Status : "+ session_db[`session_dict_${i}`].status + "\n" +
      "Project Name : "+ session_db[`session_dict_${i}`].name_of_organization;
      button.className = "session_box";
      (function(index){
            button.addEventListener("click", function() {
            console.log(index)
            window.location.href = "{% url 'no_session' %}" + "?search="+index
            })
        })(i)
      document.getElementById("main").appendChild(button);
    }
    console.log(i);
<!--    const div1 = document.createElement("button");-->
<!--    div1.innerHTML = "ADD NEW ASSESSMENT +"-->
<!--    div1.className = "create-session";-->
<!--    document.getElementById("main").appendChild(div1);-->


    function clickDB(){
        var data1 = document.getElementById('objects').value
        console.log('Value is: '+ data1)

    }

    function setGetParameter(){
    searchWord = document.getElementById('db_value').value;
    console.log("Word is: "+searchWord)
    window.location.href = "{% url 'no_session' %}" + "?search="+searchWord;
    }

    document.addEventListener("click", function(){
        a = document.getElementById("session_button").index;
        console.log(a);
    });

    var d = {{ db_instance|safe }}
    console.log("DB instances are "+ d)


</script>
<body style="background: linear-gradient(3.47deg, #00649B 13.28%, #66A9CD 93.28%);
position: static;
width: 900px;
height: 1200px;
margin-left: 150px;
padding-top: 100px;"
>


</body>
</html>
{% endblock %}