{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<body>
  <!-- ======= Hero Section ======= -->
  <section id="Screening" class="d-flex align-items-center">

  </section><!-- End Hero -->

 <link href="static/assets/css/style.css" rel="stylesheet">

  <main id="main">
       <script type="text/javascript">
<!--		function change1() {-->
<!--				console.log('1 clicked')-->
<!--				window.location.href = "{% url 'index' %}"-->
<!--		}-->

<!--		function change2() {-->
<!--				console.log('2 clicked')-->
<!--				window.location.href = "{% url 'result' %}"-->
<!--		}-->


		</script>

                <input type="radio" id="gender" name="gender" value="male"/> Male
                <input type="radio" id="gender" name="gender" value="female"/> Female <br/>
  </main>
  <!-- End #main -->
{% endblock %}

</body>

</html>